
.container-fluid{
    clear: both;
    padding:0px;
    margin:0px;
}
.header{
    background-color:blue;
    
    height:200px;
    
    
}



.scrollToTop{
	width:100px; 
	height:130px;
	text-align:center; 
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:380px;
	right:40px;
	display:none;
	background: url('scroll.png') no-repeat 0px 20px;
	opacity:5;
}
.scrollToTop:hover{
	text-decoration:none;
}

.navbar {
    width:100%;
    display:block;
    float:left;
    background-color:purple;
   
    height:75px;
}
    .navbar:first-child{margin-left: 0;}
    
    .group:before,
    .group:after{content:"";
    display:table;}
    .group:after {clear:both;}
    .group{zoom:1; }
    .span1_of_3{
        width:33.3%;
        background:black;
        height:75px;
        float:left;
        border:4px solid purple;
        box-sizing:border-box;
    }
    .span2_of_3{
        
        width:33.3%;
        background:green;
        float:right;
        height:75px;
        border:4px solid purple;
        box-sizing:border-box;
        
        
    }
    .span3_of_3{
        
        width:33.3%;
        background:white;
        height:75px;
        float:right;
        border:4px solid purple;
        box-sizing:border-box;
        
        
}
.main{
    width:100%;
    display:block;
    float:right;
    background-color:orange;
    height:950px;
}
.main:first-child{margin-left: 0;}
    
    .group:before,
    .group:after{content:"";
    display:table;}
    .group:after {clear:both;}
    .group{zoom:1; }
    .span1_of_2{
        width:50%;
        background:red;
        height:680px;
        float:left;
        border:4px solid blue;
        box-sizing:border-box;
    }
    .span2_of_2{
        
        width:50%;
        background:yellow;
        float:right;
        height:800px;
        border:5px solid blue;
        box-sizing:border-box;
        
    }
    
 .comment{
     width:100%;
     height:20px;
     background:green;
 }
 .cooment:first-child{margin-left: 0;}
    
    .group:before,
    .group:after{content:"";
    display:table;}
    .group:after {clear:both;}
    .group{zoom:1; }
    .com1_of_2{
        width:50%;
        background:green;
        height:271px;
        float:left;
        border:4px solid blue;
        box-sizing:border-box;
       
            
        
    }
    .com2_of_2{
        
        width:50%;
        background:purple;
        float:right;
        height:150px;
        border:4px solid blue;
        box-sizing:border-box;
        
    }
